.filter-contain {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  background-color: rgba(246, 245, 251, 1);
  border-radius: 4px;
  padding: 5px;
  color: #9295a7;
  padding: 5px 10px;

  .count {
    background-color: #9295a7;
    border-radius: 5px;
    padding: 0px 5px;
    color: #fff;
  }
  &.active {
    background-color: rgba(109, 74, 172, 1);
    color: #fff;
    .count {
      background-color: rgba(75, 47, 126, 1);
    }
  }
}
