.rich_container {
  .editor-class {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    height: 84px;
  }
  .toolbar-class {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
  }
  .label__title {
    font-size: 14px !important;
    color: #212b36;
    line-height: 24px;
    margin-bottom: 5px !important;
  }
}
